<div class="container">
    <h1 class="display-4 text-center mb-5">Welcome to Jokes App!</h1>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <p class="lead">

                <br />
                Here you can find a collection of jokes and add your own.
            </p>
            <div class="row">
                <div class="col-md-6">
                    <a asp-action="Index" asp-controller="Joke" class="btn btn-primary btn-lg btn-block mb-4">Browse
                        Jokes</a>
                </div>
                <div class="col-md-6">
                    <a asp-action="Create" asp-controller="Joke" class="btn btn-secondary btn-lg btn-block mb-4">Add a
                        Joke</a>
                </div>
            </div>
        </div>
    </div>
</div>